<section >
    <mat-card>
        <mat-card-title>Add New Board</mat-card-title>
    <form fxLayout="column" fxLayoutGap = "15px" fxLayoutAlign="center center"      
    [formGroup] = "addBoardForm" (ngSubmit)="addBoard()"    >
        <mat-form-field>
                <input type="text" matInput placeholder="Board Name" 
                formControlName="BoardName" required   >
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput placeholder="Board description" 
            formControlName="BoardDesc"            >
        </mat-form-field>   
        <mat-form-field>
            <input type="text" matInput placeholder="Create At" 
            formControlName="CreateAt"            >
        </mat-form-field>   
        <!--mat-form-field>
            <input type="text" matInput placeholder="UpdatedAt" 
            formControlName="UpdatedAt"            >
        </mat-form-field-->   
    <button type="submit" mat-raised-button color="primary" [disabled]="addBoardForm.invalid" >Add</button>
    </form>
    </mat-card>
</section>
