/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif;      
    }
    mat-card {
     width: 98%;
   }
 
   .board{
       margin-top: 10px;
   }
   mat-icon{
    cursor: pointer;
   }
   .w-75{
    width: 75px !important;
}